@charset 'utf-8';
@media screen and (max-width: 768px) {
    #btnMenu {
        display: block;
       
    }


    #navegação {
        position: absolute;
        flex-direction: column;
        top: 100px;
        right: 70px;
        height: 250%;
        width: 100vw;
        padding: 1em;
        background-color: tomato;
        animation-duration: .5s;
        margin-top: -100vh;
       
    }

    #navegação a {
        background-color: tomato;
        padding: 0px;
    }

    #navegação a:hover {
        background-color: black;
        border-radius: 0px;
        color: white;
        text-decoration: none;
        padding: 5px 15px 5px 15px;
    }
}

@keyframes showSideBar {
    from {
        margin-top: -100vh;
    }
    to {
        margin-top: -10vh;
    }
}